<ul class="sidenav admin-sidenav list-unstyled">
    <li><a href="/"> inicio </a></li>
    <li><a href="category/todas"> todas las categorias </a></li>
    <li> <a href="category/:629e1fdab7c4bb9a816cf4c7"> Id </a></li>
</ul>