<ul class="sidenav admin-sidenav list-unstyled">
    <li><a href="/"> inicio </a></li>
    <li><a href="movies/getMoviesActors"> actores por pelicula </a></li>
    <li> <a href="movies/getMovieVideos"> videos de peliculas </a></li>
    <li> <a href="movies/:id"> Id </a></li>
</ul>